<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc file="toc/refcppcpoptimizer.xml" primary="false"/>
      <toc file="toc/refjavacpoptimizer.xml" primary="false"/>
      <toc file="toc/refdotnetcpoptimizer.xml" primary="false"/>
	  <toc file="toc/reffileformatcpoptimizer.xml" primary="false"/>
      <index
            path="index">
      </index>
</extension>
  <extension point="org.eclipse.help.contexts">
    <contexts file="contexts.xml"  />
</extension>
  <extension point="org.eclipse.help.index">
    <index file="index.xml"  />
    <index file="index-refcppcpoptimizer.xml"  />
    <index file="index-refjavacpoptimizer.xml"  />
    <index file="index-refdotnetcpoptimizer.xml"  />
	<index file="index-reffileformatcpoptimizer.xml"  />
</extension>
</plugin>
