
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}
body {
  background-color: Window;
  color: WindowText;
  font: icon;
  padding: 0px;
  margin: 0px;
  height:100%;
}
ul {
  border-width: 0px;
  margin-left: 10px;
  padding-left: 0px;
}
#root {
  margin-top: 5px;
  margin-left: 5px;
}
ul.expanded {
  display: block;
}
ul.collapsed {
  display: none;
}
li {
  margin-top: 3px;
  list-style-image: none;
  list-style-type: none;
  white-space: nowrap;
}
img {
  border: 0px;
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
}
a {
  text-decoration: none;
  color: WindowText;
  padding-right: 2px;
  white-space: nowrap;
}
a:hover{
  text-decoration: underline;
}
a.active{
  background: Highlight;
  color: HighlightText;
  width: 100%;
}
a.active:hover{
  text-decoration: underline;
  background: Highlight;
  color: HighlightText;
  width: 100%;
}
.h {
  visibility: hidden;
}
  